input{
    display: block;
    margin-bottom: 2rem;
}

.contact-form{
    /* display: flex;
    flex-direction: column; */
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: block;
    cursor: pointer;
}